@page "/books"

<h3>Books</h3>

<div class="filter-container mb-3">
    <div class="form-group">
        <label for="title">Title:</label>
        <input id="title" @bind="_title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <input id="author" @bind="_author" class="form-control" />
    </div>
    <div class="form-group">
        <label for="genre">Genre:</label>
        <input id="genre" @bind="_genre" class="form-control" />
    </div>
    <div class="form-group d-flex align-items-end">
        <button class="btn btn-primary w-100" @onclick="SearchBooks">Search</button>
    </div>
</div>


<div class="d-flex mb-3">
    <button class="btn btn-success me-3" @onclick="AddBook">Add Book</button>
    <div>
        <InputFile OnChange="HandleFileSelected" />

        <button class="btn btn-primary ms-2" @onclick="UploadCsv" disabled="@(_file is null)">Upload CSV</button>
    </div>
</div>


@if (_books is null)
{
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

else if (_books.Count == 0)
{
    <p>No books found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <button class='btn btn-link' @onclick='() => ApplySorting("title")'>
                        Title @SortIndicator("title")
                    </button>
                </th>
                <th>
                    <button class='btn btn-link' @onclick='() => ApplySorting("author")'>
                        Author @SortIndicator("author")
                    </button>
                </th>
                <th>
                    <button class='btn btn-link' @onclick='() => ApplySorting("genre")'>
                        Genre @SortIndicator("genre")
                    </button>
                </th>
                <th style="width:150px">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in _books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>
                        <button class="btn btn-primary btn-sm me-2" @onclick="() => EditBook(book.Id)" aria-label="Edit Book">
                            Edit
                        </button>

                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteBook(book.Id)" aria-label="Delete Book">
                            Delete
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Pagination Controls -->
<div class="pagination-controls d-flex justify-content-center my-3">
    <button class="btn btn-outline-primary me-2" @onclick="PrevPage" disabled="@(!HasPrev)">Previous</button>
    <span class="align-self-center">Page @_currentPage of @_totalPages</span>
    <button class="btn btn-outline-primary ms-2" @onclick="NextPage" disabled="@(!HasNext)">Next</button>
</div>


